/*RESET*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: white;

}

.header-banner {
    padding: 10px;
    margin-bottom: 40px;
}

.logo-title {
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
}

body{
    background-color: lightgray;
    font-family: 'Inter', sans-serif;
}


main {
    background-color: white;
    margin: 0 25% 0 25%;
}

.butn {
    
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 12px;
        border-radius: 10%;
        margin: 10px 0 10px 30px;
        cursor:pointer;
        border: 1px solid currentColor;
}

.add-task-button {
    background-color: rgb(18, 154, 207);
    color: white;
    
}

.add-section-button {
    background-color: white;
    color: #8b8b8b;
 
}

.inline-buttons{
    display: inline-block;
}

.container {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  max-width: 100%;
  border-bottom:10px solid lightgray;
}

.general-infos {
    margin-left: 30px;
    padding:10px;
}

h2 {
    display: block;
    margin-bottom: 15px;
}

h3{
    font-weight: normal;
    display: inline-block;
    line-height:2rem;
    margin-bottom: 15px;
    margin-left: 10px;
}

.mark-item::before{
    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    padding: 3px;
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
}

 .mark-item.checkmark::before {
    content:'\2713';
    color: #068d45;
    border-color: #068d45;
}

.mark-item.not-done::before {
    content:'\2717';
    color: #830000;
    border-color: #830000;
} 

.tasks{
    margin-bottom:20px;
}


.label {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(8, 106, 182);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.label-editorial {

    background-color: rgb(8, 106, 182);
}

.label-goals {

    background-color: rgb(166, 14, 255);
}

.label-recruiting {

    background-color: rgb(4, 172, 155);
}

.label-mobile {

    background-color: rgb(226, 165, 8);
}

.label-website {

    background-color: rgb(165, 8, 182);
}

.label-sales {

    background-color: rgb(38, 171, 9);
}