*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

header {
    background-color: white;

}
main {
    background-color: white;
    margin: 0 25%;
}

.header-banner {
    padding: 10px;
    margin-bottom: 40px;
}

.logo-title {
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
}

.add-task-button {
        background-color: turquoise;
        border: 1px solid #525252;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 5px;
        border-radius: 15%;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
}

.add-section-button {
    background-color: white;
    border: 1px solid #525252;
    color: #525252;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border-radius: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-buttons{
    display: inline-block;
}

.container {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  max-width: 100%;
  border-bottom:10px solid lightgray;
}

.general-infos {
    margin-left: 30px;
    padding:5px;
}

h2 {
    display: block;
}

h3{
    font-weight: normal;
    display: inline-block;
    line-height:2rem;
}

.checkmark {
    color: #03db67;
    border-color: #03db67;
    border-radius: 15px;
    font-size: 16px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
}

.not-done {
    color: #de0000;
    border-color: #de0000;
    border-radius: 10px;
    font-size: 16px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
}

.new-tasks{
    margin-bottom:20px;
}

.upcoming-tasks{
    margin-bottom:20px;
}

.today-tasks{
    margin-bottom:20px;
}

.editorial {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(8, 106, 182);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.goals {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(166, 14, 255);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.recruiting {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(6, 208, 188);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.mobile {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(226, 165, 8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.website {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(165, 8, 182);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sales {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(38, 171, 9);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}