*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

header {
    background-color: white;

}
main {
    background-color: white;
    margin: 0 25%;
}

.header-banner {
    padding: 10px;
    margin-bottom: 40px;
}

.logo-title {
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
}

.add-task-button {
        background-color: turquoise;
        border: 1px solid #525252;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 5px;
        border-radius: 15%;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
}

.add-section-button {
    background-color: white;
    border: 1px solid #525252;
    color: #525252;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border-radius: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-buttons{
    display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
  border-bottom:10px solid lightgray;
}

.general-infos {
    margin-left: 30px;
    padding:5px;
}

